<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>2 - ISO/IEC 265** Tools and methods for product line</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>2 - ISO/IEC 265** Tools and methods for product line</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/047d52c0-fb0b-4735-a92b-3e9c3840a473.png" alt="2 - ISO/IEC 265** Tools and methods for product line" usemap="#047d52c0-fb0b-4735-a92b-3e9c3840a473map"/>
			   <map name="047d52c0-fb0b-4735-a92b-3e9c3840a473map">
				          <area shape="rect" coords="850,10,1091,299" href="../objects/402def33-1f3e-4676-ac8b-4f63cdb56523.html" target="element" >
				  		<area shape="rect" coords="310,442,500,539" href="../elements/560b3e2b-f7f7-4a72-8fe2-53231c8884a7.html"  target="element">
				  		<area shape="rect" coords="310,10,500,107" href="../elements/12e78967-aa6f-4b30-9175-e4f70554db5b.html"  target="element">
				  		<area shape="rect" coords="610,442,800,539" href="../elements/0679a3dd-85c6-4031-987b-7b1582de2503.html"  target="element">
				  		<area shape="rect" coords="610,334,800,431" href="../elements/4e70217e-01d7-4abf-8521-3fea45b814ec.html"  target="element">
				  		<area shape="rect" coords="610,226,800,323" href="../elements/df023968-3680-4a03-ac27-ae9d1c8857af.html"  target="element">
				  		<area shape="rect" coords="610,116,800,213" href="../elements/d568ee27-abfd-43f2-a671-545f710bf2f2.html"  target="element">
				  		<area shape="rect" coords="610,10,800,107" href="../elements/c64aba58-d4a1-4dbd-a34b-53ccd2e682b5.html"  target="element">
				  		<area shape="rect" coords="10,442,200,539" href="../elements/1e35da39-0b34-4685-adcc-132a75cf3696.html"  target="element">
				  		<area shape="rect" coords="10,334,200,431" href="../elements/4aac85e1-a747-462e-ad65-7d7050afb3dd.html"  target="element">
				  		<area shape="rect" coords="10,226,200,323" href="../elements/52a6a969-bb1e-42ca-b446-f079f157fe69.html"  target="element">
				  		<area shape="rect" coords="10,10,200,107" href="../elements/6eafd65e-4e99-4355-8f1c-3cd9cb675e47.html"  target="element">
				  		<area shape="rect" coords="310,226,500,323" href="../elements/f47c74cc-5664-4d70-8f41-f16f993287b7.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Purpose of this view: detailed description of ISO 265** "Methods and Tools for Product Line" Standards Family contents
Use cases:
- open web page with standard description on issuing organisation website (click the block)
- open standard if accessible on internal e-library (click on dark green block)

Created by: Alexander Efremov
Updated on: 25.02.2020 (v.1)
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/f47c74cc-5664-4d70-8f41-f16f993287b7.html" target="element"> ISO/IEC 265** - Tools and Methods for Product Line </a> </td>
											    <td> <a href="../elements/f47c74cc-5664-4d70-8f41-f16f993287b7.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6eafd65e-4e99-4355-8f1c-3cd9cb675e47.html" target="element"> ISO/IEC 26551:2016 Software and systems engineering &#8212; Tools and methods for product line requirements engineering </a> </td>
											    <td> <a href="../elements/6eafd65e-4e99-4355-8f1c-3cd9cb675e47.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/52a6a969-bb1e-42ca-b446-f079f157fe69.html" target="element"> ISO/IEC 26553:2018 Information technology &#8212; Software and systems engineering &#8212; Tools and methods for product line realization </a> </td>
											    <td> <a href="../elements/52a6a969-bb1e-42ca-b446-f079f157fe69.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4aac85e1-a747-462e-ad65-7d7050afb3dd.html" target="element"> ISO/IEC 26554:2018 Information technology &#8212; Software and systems engineering &#8212; Tools and methods for product line testing </a> </td>
											    <td> <a href="../elements/4aac85e1-a747-462e-ad65-7d7050afb3dd.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1e35da39-0b34-4685-adcc-132a75cf3696.html" target="element"> ISO/IEC 26555:2015 Software and systems engineering &#8212; Tools and methods for product line technical management </a> </td>
											    <td> <a href="../elements/1e35da39-0b34-4685-adcc-132a75cf3696.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c64aba58-d4a1-4dbd-a34b-53ccd2e682b5.html" target="element"> ISO/IEC 26556:2018 Information technology &#8212; Software and systems engineering &#8212; Tools and methods for product line organizational management </a> </td>
											    <td> <a href="../elements/c64aba58-d4a1-4dbd-a34b-53ccd2e682b5.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d568ee27-abfd-43f2-a671-545f710bf2f2.html" target="element"> ISO/IEC 26557:2016 Software and systems engineering &#8212; Methods and tools for variability mechanisms in software and systems product line </a> </td>
											    <td> <a href="../elements/d568ee27-abfd-43f2-a671-545f710bf2f2.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/df023968-3680-4a03-ac27-ae9d1c8857af.html" target="element"> ISO/IEC 26558:2017 Software and systems engineering &#8212; Methods and tools for variability modelling in software and systems product line </a> </td>
											    <td> <a href="../elements/df023968-3680-4a03-ac27-ae9d1c8857af.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4e70217e-01d7-4abf-8521-3fea45b814ec.html" target="element"> ISO/IEC 26559:2017 Software and systems engineering &#8212; Methods and tools for variability traceability in software and systems product line </a> </td>
											    <td> <a href="../elements/4e70217e-01d7-4abf-8521-3fea45b814ec.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0679a3dd-85c6-4031-987b-7b1582de2503.html" target="element"> ISO/IEC 26560:2019 Software and systems engineering &#8212; Tools and methods for product line product management </a> </td>
											    <td> <a href="../elements/0679a3dd-85c6-4031-987b-7b1582de2503.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/12e78967-aa6f-4b30-9175-e4f70554db5b.html" target="element"> ISO/IEC 26561:2019 Software and systems engineering &#8212; Methods and tools for product line technical probe </a> </td>
											    <td> <a href="../elements/12e78967-aa6f-4b30-9175-e4f70554db5b.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/560b3e2b-f7f7-4a72-8fe2-53231c8884a7.html" target="element"> ISO/IEC 26562:2019 Software and systems engineering &#8212; Methods and tools for product line transition management </a> </td>
											    <td> <a href="../elements/560b3e2b-f7f7-4a72-8fe2-53231c8884a7.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/402def33-1f3e-4676-ac8b-4f63cdb56523.html" target="element">  </a> </td>
									           <td> <a href="../objects/402def33-1f3e-4676-ac8b-4f63cdb56523.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/53ead06e-cb89-4316-9e21-c2be1019c7f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/53ead06e-cb89-4316-9e21-c2be1019c7f7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f47c74cc-5664-4d70-8f41-f16f993287b7.html" target="element"> ISO/IEC 265** - Tools and Methods for Product Line </a> </td>
																		<td> <a href="../elements/6eafd65e-4e99-4355-8f1c-3cd9cb675e47.html" target="element"> ISO/IEC 26551:2016 Software and systems engineering &#8212; Tools and methods for product line requirements engineering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6cc52935-a10b-4981-9dfd-fc931feed847.html" target="element">  </a> </td>
																		<td> <a href="../elements/6cc52935-a10b-4981-9dfd-fc931feed847.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f47c74cc-5664-4d70-8f41-f16f993287b7.html" target="element"> ISO/IEC 265** - Tools and Methods for Product Line </a> </td>
																		<td> <a href="../elements/12e78967-aa6f-4b30-9175-e4f70554db5b.html" target="element"> ISO/IEC 26561:2019 Software and systems engineering &#8212; Methods and tools for product line technical probe </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e5213745-c8c8-4b2d-afae-e83869e0e3dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/e5213745-c8c8-4b2d-afae-e83869e0e3dc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f47c74cc-5664-4d70-8f41-f16f993287b7.html" target="element"> ISO/IEC 265** - Tools and Methods for Product Line </a> </td>
																		<td> <a href="../elements/c64aba58-d4a1-4dbd-a34b-53ccd2e682b5.html" target="element"> ISO/IEC 26556:2018 Information technology &#8212; Software and systems engineering &#8212; Tools and methods for product line organizational management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/56a1e4c7-d515-40d3-82b2-04795d945c15.html" target="element">  </a> </td>
																		<td> <a href="../elements/56a1e4c7-d515-40d3-82b2-04795d945c15.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f47c74cc-5664-4d70-8f41-f16f993287b7.html" target="element"> ISO/IEC 265** - Tools and Methods for Product Line </a> </td>
																		<td> <a href="../elements/d568ee27-abfd-43f2-a671-545f710bf2f2.html" target="element"> ISO/IEC 26557:2016 Software and systems engineering &#8212; Methods and tools for variability mechanisms in software and systems product line </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f599d0c2-f659-4694-91ec-e789d36f5896.html" target="element">  </a> </td>
																		<td> <a href="../elements/f599d0c2-f659-4694-91ec-e789d36f5896.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f47c74cc-5664-4d70-8f41-f16f993287b7.html" target="element"> ISO/IEC 265** - Tools and Methods for Product Line </a> </td>
																		<td> <a href="../elements/df023968-3680-4a03-ac27-ae9d1c8857af.html" target="element"> ISO/IEC 26558:2017 Software and systems engineering &#8212; Methods and tools for variability modelling in software and systems product line </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4e61a08f-cb7e-46ab-9e5d-0d7474a53dd7.html" target="element">  </a> </td>
																		<td> <a href="../elements/4e61a08f-cb7e-46ab-9e5d-0d7474a53dd7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f47c74cc-5664-4d70-8f41-f16f993287b7.html" target="element"> ISO/IEC 265** - Tools and Methods for Product Line </a> </td>
																		<td> <a href="../elements/4e70217e-01d7-4abf-8521-3fea45b814ec.html" target="element"> ISO/IEC 26559:2017 Software and systems engineering &#8212; Methods and tools for variability traceability in software and systems product line </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7fbae229-41ba-4869-b044-14a1b2973e91.html" target="element">  </a> </td>
																		<td> <a href="../elements/7fbae229-41ba-4869-b044-14a1b2973e91.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f47c74cc-5664-4d70-8f41-f16f993287b7.html" target="element"> ISO/IEC 265** - Tools and Methods for Product Line </a> </td>
																		<td> <a href="../elements/0679a3dd-85c6-4031-987b-7b1582de2503.html" target="element"> ISO/IEC 26560:2019 Software and systems engineering &#8212; Tools and methods for product line product management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cd1b22d7-f3c4-4657-a071-007e82e064fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd1b22d7-f3c4-4657-a071-007e82e064fc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f47c74cc-5664-4d70-8f41-f16f993287b7.html" target="element"> ISO/IEC 265** - Tools and Methods for Product Line </a> </td>
																		<td> <a href="../elements/560b3e2b-f7f7-4a72-8fe2-53231c8884a7.html" target="element"> ISO/IEC 26562:2019 Software and systems engineering &#8212; Methods and tools for product line transition management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/964c2c6f-487a-4c6f-815c-03825190f037.html" target="element">  </a> </td>
																		<td> <a href="../elements/964c2c6f-487a-4c6f-815c-03825190f037.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f47c74cc-5664-4d70-8f41-f16f993287b7.html" target="element"> ISO/IEC 265** - Tools and Methods for Product Line </a> </td>
																		<td> <a href="../elements/1e35da39-0b34-4685-adcc-132a75cf3696.html" target="element"> ISO/IEC 26555:2015 Software and systems engineering &#8212; Tools and methods for product line technical management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2ed57390-dc69-4b71-98cd-caaf497de292.html" target="element">  </a> </td>
																		<td> <a href="../elements/2ed57390-dc69-4b71-98cd-caaf497de292.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f47c74cc-5664-4d70-8f41-f16f993287b7.html" target="element"> ISO/IEC 265** - Tools and Methods for Product Line </a> </td>
																		<td> <a href="../elements/4aac85e1-a747-462e-ad65-7d7050afb3dd.html" target="element"> ISO/IEC 26554:2018 Information technology &#8212; Software and systems engineering &#8212; Tools and methods for product line testing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e7dcc4df-2f80-4622-93da-7de0bd5b70a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/e7dcc4df-2f80-4622-93da-7de0bd5b70a9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/f47c74cc-5664-4d70-8f41-f16f993287b7.html" target="element"> ISO/IEC 265** - Tools and Methods for Product Line </a> </td>
																		<td> <a href="../elements/52a6a969-bb1e-42ca-b446-f079f157fe69.html" target="element"> ISO/IEC 26553:2018 Information technology &#8212; Software and systems engineering &#8212; Tools and methods for product line realization </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>