<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>3 - Safety and Security Related</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>3 - Safety and Security Related</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/056d7d6d-a62f-41e7-8730-48cd76fc5aba.png" alt="3 - Safety and Security Related" usemap="#056d7d6d-a62f-41e7-8730-48cd76fc5abamap"/>
			   <map name="056d7d6d-a62f-41e7-8730-48cd76fc5abamap">
				          <area shape="rect" coords="898,10,1139,299" href="../objects/4d0a4dda-7c98-4e2a-a902-22afa2f99ea4.html" target="element" >
				  		<area shape="rect" coords="238,178,428,275" href="../elements/759c1195-a55f-4134-8180-71fe1bf2da45.html"  target="element">
				  		<area shape="rect" coords="454,178,644,275" href="../elements/3f7ff739-73eb-4c6e-9413-9c57340ed225.html"  target="element">
				  		<area shape="rect" coords="670,178,860,275" href="../elements/5eef100a-8782-4b46-9e4c-95c95daf1a94.html"  target="element">
				  		<area shape="rect" coords="670,286,860,383" href="../elements/b8d575ef-7193-4ceb-a84d-63dd7d01f888.html"  target="element">
				  		<area shape="rect" coords="670,502,860,599" href="../elements/d0a44b4b-7b50-4a0b-9246-8b2f818b53ae.html"  target="element">
				  		<area shape="rect" coords="670,394,860,491" href="../elements/5aa91705-a7b0-4dcd-ba3a-334ad6ebb5f6.html"  target="element">
				  		<area shape="rect" coords="454,502,644,599" href="../elements/86114964-425c-48cc-99f9-15e23c30370c.html"  target="element">
				  		<area shape="rect" coords="229,502,419,599" href="../elements/6a227850-dcb0-4531-b185-f11b9b263bb0.html"  target="element">
				  		<area shape="rect" coords="10,502,200,599" href="../elements/ba42993c-4a20-4433-99d0-76cd0cbcea6a.html"  target="element">
				  		<area shape="rect" coords="10,394,200,491" href="../elements/6c1bfea6-5b97-4f4a-abc2-a57ad06d9287.html"  target="element">
				  		<area shape="rect" coords="10,286,200,383" href="../elements/6356b8bb-4cde-4ffd-96a5-a5c413a18559.html"  target="element">
				  		<area shape="rect" coords="10,178,200,275" href="../elements/d64164b9-4347-4295-9028-4bb8d1cb703b.html"  target="element">
				  		<area shape="rect" coords="358,334,548,431" href="../elements/55cdc31f-e671-4a97-b313-e3684489dfe1.html"  target="element">
				  		<area shape="rect" coords="670,10,860,107" href="../elements/4339d8d3-158e-4b28-84b4-b436f309abbd.html"  target="element">
				  		<area shape="rect" coords="13,10,203,107" href="../elements/fcb546d7-a166-44ed-917f-ccb289ccf28b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Purpose of this view: detailed description of systems and software safety and security related standards
Use cases:
- open web page with standard description on issuing organisation website (click the block)
- open standard if accessible on internal e-library (click on dark green block)

Created by: Alexander Efremov
Updated on: 25.02.2020 (v.1)
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/fcb546d7-a166-44ed-917f-ccb289ccf28b.html" target="element"> ISO/SAE DIS 21434 Road vehicles &#8212; Cybersecurity engineering </a> </td>
											    <td> <a href="../elements/fcb546d7-a166-44ed-917f-ccb289ccf28b.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4339d8d3-158e-4b28-84b4-b436f309abbd.html" target="element"> ISO/PAS 21448:2019 Road vehicles &#8212; Safety of the intended functionality </a> </td>
											    <td> <a href="../elements/4339d8d3-158e-4b28-84b4-b436f309abbd.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/55cdc31f-e671-4a97-b313-e3684489dfe1.html" target="element"> ISO 26262 Road vehicles &#8212; Functional safety </a> </td>
											    <td> <a href="../elements/55cdc31f-e671-4a97-b313-e3684489dfe1.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d64164b9-4347-4295-9028-4bb8d1cb703b.html" target="element"> ISO 26262-1:2018 Road vehicles &#8212; Functional safety &#8212; Part 1: Vocabulary </a> </td>
											    <td> <a href="../elements/d64164b9-4347-4295-9028-4bb8d1cb703b.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6356b8bb-4cde-4ffd-96a5-a5c413a18559.html" target="element"> ISO 26262-2:2018 Road vehicles &#8212; Functional safety &#8212; Part 2: Management of functional safety </a> </td>
											    <td> <a href="../elements/6356b8bb-4cde-4ffd-96a5-a5c413a18559.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6c1bfea6-5b97-4f4a-abc2-a57ad06d9287.html" target="element"> ISO 26262-3:2018 Road vehicles &#8212; Functional safety &#8212; Part 3: Concept phase </a> </td>
											    <td> <a href="../elements/6c1bfea6-5b97-4f4a-abc2-a57ad06d9287.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ba42993c-4a20-4433-99d0-76cd0cbcea6a.html" target="element"> ISO 26262-4:2018 Road vehicles &#8212; Functional safety &#8212; Part 4: Product development at the system level </a> </td>
											    <td> <a href="../elements/ba42993c-4a20-4433-99d0-76cd0cbcea6a.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6a227850-dcb0-4531-b185-f11b9b263bb0.html" target="element"> ISO 26262-5:2018 Road vehicles &#8212; Functional safety &#8212; Part 5: Product development at the hardware level </a> </td>
											    <td> <a href="../elements/6a227850-dcb0-4531-b185-f11b9b263bb0.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/86114964-425c-48cc-99f9-15e23c30370c.html" target="element"> ISO 26262-6:2018 Road vehicles &#8212; Functional safety &#8212; Part 6: Product development at the software level </a> </td>
											    <td> <a href="../elements/86114964-425c-48cc-99f9-15e23c30370c.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5aa91705-a7b0-4dcd-ba3a-334ad6ebb5f6.html" target="element"> ISO 26262-8:2018 Road vehicles &#8212; Functional safety &#8212; Part 8: Supporting processes </a> </td>
											    <td> <a href="../elements/5aa91705-a7b0-4dcd-ba3a-334ad6ebb5f6.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d0a44b4b-7b50-4a0b-9246-8b2f818b53ae.html" target="element"> ISO 26262-7:2018 Road vehicles &#8212; Functional safety &#8212; Part 7: Production, operation, service and decommissioning </a> </td>
											    <td> <a href="../elements/d0a44b4b-7b50-4a0b-9246-8b2f818b53ae.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b8d575ef-7193-4ceb-a84d-63dd7d01f888.html" target="element"> ISO 26262-9:2018 Road vehicles &#8212; Functional safety &#8212; Part 9: Automotive safety integrity level (ASIL)-oriented and safety-oriented analyses </a> </td>
											    <td> <a href="../elements/b8d575ef-7193-4ceb-a84d-63dd7d01f888.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5eef100a-8782-4b46-9e4c-95c95daf1a94.html" target="element"> ISO 26262-10:2018 Road vehicles &#8212; Functional safety &#8212; Part 10: Guidelines on ISO 26262 </a> </td>
											    <td> <a href="../elements/5eef100a-8782-4b46-9e4c-95c95daf1a94.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3f7ff739-73eb-4c6e-9413-9c57340ed225.html" target="element"> ISO 26262-11:2018 Road vehicles &#8212; Functional safety &#8212; Part 11: Guidelines on application of ISO 26262 to semiconductors </a> </td>
											    <td> <a href="../elements/3f7ff739-73eb-4c6e-9413-9c57340ed225.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/759c1195-a55f-4134-8180-71fe1bf2da45.html" target="element"> ISO 26262-12:2018 Road vehicles &#8212; Functional safety &#8212; Part 12: Adaptation of ISO 26262 for motorcycles </a> </td>
											    <td> <a href="../elements/759c1195-a55f-4134-8180-71fe1bf2da45.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/4d0a4dda-7c98-4e2a-a902-22afa2f99ea4.html" target="element">  </a> </td>
									           <td> <a href="../objects/4d0a4dda-7c98-4e2a-a902-22afa2f99ea4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/5cfba262-2e2e-4b6f-899d-a5a331451ab7.html" target="element">  </a> </td>
																		<td> <a href="../elements/5cfba262-2e2e-4b6f-899d-a5a331451ab7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/55cdc31f-e671-4a97-b313-e3684489dfe1.html" target="element"> ISO 26262 Road vehicles &#8212; Functional safety </a> </td>
																		<td> <a href="../elements/b8d575ef-7193-4ceb-a84d-63dd7d01f888.html" target="element"> ISO 26262-9:2018 Road vehicles &#8212; Functional safety &#8212; Part 9: Automotive safety integrity level (ASIL)-oriented and safety-oriented analyses </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bb92cb9d-8efb-423e-92d3-b9b316b44189.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb92cb9d-8efb-423e-92d3-b9b316b44189.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/55cdc31f-e671-4a97-b313-e3684489dfe1.html" target="element"> ISO 26262 Road vehicles &#8212; Functional safety </a> </td>
																		<td> <a href="../elements/d0a44b4b-7b50-4a0b-9246-8b2f818b53ae.html" target="element"> ISO 26262-7:2018 Road vehicles &#8212; Functional safety &#8212; Part 7: Production, operation, service and decommissioning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3d289381-a1d4-4ff7-ae20-038ece648d04.html" target="element">  </a> </td>
																		<td> <a href="../elements/3d289381-a1d4-4ff7-ae20-038ece648d04.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/55cdc31f-e671-4a97-b313-e3684489dfe1.html" target="element"> ISO 26262 Road vehicles &#8212; Functional safety </a> </td>
																		<td> <a href="../elements/5aa91705-a7b0-4dcd-ba3a-334ad6ebb5f6.html" target="element"> ISO 26262-8:2018 Road vehicles &#8212; Functional safety &#8212; Part 8: Supporting processes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/82cc12ee-34e6-4b19-ab82-2ca042748cb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/82cc12ee-34e6-4b19-ab82-2ca042748cb5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/55cdc31f-e671-4a97-b313-e3684489dfe1.html" target="element"> ISO 26262 Road vehicles &#8212; Functional safety </a> </td>
																		<td> <a href="../elements/6a227850-dcb0-4531-b185-f11b9b263bb0.html" target="element"> ISO 26262-5:2018 Road vehicles &#8212; Functional safety &#8212; Part 5: Product development at the hardware level </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/28917977-c6df-4253-a8fb-c00a55334172.html" target="element">  </a> </td>
																		<td> <a href="../elements/28917977-c6df-4253-a8fb-c00a55334172.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/55cdc31f-e671-4a97-b313-e3684489dfe1.html" target="element"> ISO 26262 Road vehicles &#8212; Functional safety </a> </td>
																		<td> <a href="../elements/3f7ff739-73eb-4c6e-9413-9c57340ed225.html" target="element"> ISO 26262-11:2018 Road vehicles &#8212; Functional safety &#8212; Part 11: Guidelines on application of ISO 26262 to semiconductors </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d074d29e-db38-4a26-89e9-4d8e804c05a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/d074d29e-db38-4a26-89e9-4d8e804c05a0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/55cdc31f-e671-4a97-b313-e3684489dfe1.html" target="element"> ISO 26262 Road vehicles &#8212; Functional safety </a> </td>
																		<td> <a href="../elements/6356b8bb-4cde-4ffd-96a5-a5c413a18559.html" target="element"> ISO 26262-2:2018 Road vehicles &#8212; Functional safety &#8212; Part 2: Management of functional safety </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ff887d2e-55a6-4c97-baf2-dc315eaf4d1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/ff887d2e-55a6-4c97-baf2-dc315eaf4d1b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/55cdc31f-e671-4a97-b313-e3684489dfe1.html" target="element"> ISO 26262 Road vehicles &#8212; Functional safety </a> </td>
																		<td> <a href="../elements/759c1195-a55f-4134-8180-71fe1bf2da45.html" target="element"> ISO 26262-12:2018 Road vehicles &#8212; Functional safety &#8212; Part 12: Adaptation of ISO 26262 for motorcycles </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fd1d992e-48d9-4fce-ba15-535f9b9430b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/fd1d992e-48d9-4fce-ba15-535f9b9430b7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/55cdc31f-e671-4a97-b313-e3684489dfe1.html" target="element"> ISO 26262 Road vehicles &#8212; Functional safety </a> </td>
																		<td> <a href="../elements/5eef100a-8782-4b46-9e4c-95c95daf1a94.html" target="element"> ISO 26262-10:2018 Road vehicles &#8212; Functional safety &#8212; Part 10: Guidelines on ISO 26262 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d1362082-4c82-4d15-9a19-a55c268900c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/d1362082-4c82-4d15-9a19-a55c268900c7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/55cdc31f-e671-4a97-b313-e3684489dfe1.html" target="element"> ISO 26262 Road vehicles &#8212; Functional safety </a> </td>
																		<td> <a href="../elements/86114964-425c-48cc-99f9-15e23c30370c.html" target="element"> ISO 26262-6:2018 Road vehicles &#8212; Functional safety &#8212; Part 6: Product development at the software level </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e7bcaeba-fc56-4d66-93be-318eab834832.html" target="element">  </a> </td>
																		<td> <a href="../elements/e7bcaeba-fc56-4d66-93be-318eab834832.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/55cdc31f-e671-4a97-b313-e3684489dfe1.html" target="element"> ISO 26262 Road vehicles &#8212; Functional safety </a> </td>
																		<td> <a href="../elements/6c1bfea6-5b97-4f4a-abc2-a57ad06d9287.html" target="element"> ISO 26262-3:2018 Road vehicles &#8212; Functional safety &#8212; Part 3: Concept phase </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a4caa0ce-68be-4be5-a596-b502d6824d67.html" target="element">  </a> </td>
																		<td> <a href="../elements/a4caa0ce-68be-4be5-a596-b502d6824d67.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/55cdc31f-e671-4a97-b313-e3684489dfe1.html" target="element"> ISO 26262 Road vehicles &#8212; Functional safety </a> </td>
																		<td> <a href="../elements/ba42993c-4a20-4433-99d0-76cd0cbcea6a.html" target="element"> ISO 26262-4:2018 Road vehicles &#8212; Functional safety &#8212; Part 4: Product development at the system level </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f1a1cd0e-ebe1-42a5-932f-5d7bd6ed1344.html" target="element">  </a> </td>
																		<td> <a href="../elements/f1a1cd0e-ebe1-42a5-932f-5d7bd6ed1344.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/55cdc31f-e671-4a97-b313-e3684489dfe1.html" target="element"> ISO 26262 Road vehicles &#8212; Functional safety </a> </td>
																		<td> <a href="../elements/d64164b9-4347-4295-9028-4bb8d1cb703b.html" target="element"> ISO 26262-1:2018 Road vehicles &#8212; Functional safety &#8212; Part 1: Vocabulary </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>